
<%= simple_form_for @provider do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :cnpj %>
    <%= f.input :address %>
    <%= f.input :phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Criar Fornecedor' : 'Atualizar Fornecedor', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
