<% content_for :title do %>
  Editando Garantor
<% end %>

<div class="page-header">
  <h1>Editando Garantor</h1>
  <div>
    <%= link_to @garantor, class: 'btn btn-info' do %>
      <%= icon 'fas', 'eye' %>
      Ver
    <% end %>
    <%= link_to garantors_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<%= render 'form' %>
