<% content_for :title do %>
  Detalhes de Manager
<% end %>

<div class="page-header">
  <h1>Detalhes de Manager</h1>
  <div>
    <%= link_to edit_manager_path(@manager), class: 'btn btn-success' do %>
      <%= icon 'fas', 'edit' %>
      Editar
    <% end %>
    <%= link_to managers_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @manager.name %></dd>

  <dt>Cpf:</dt>
  <dd><%= @manager.cpf %></dd>

  <dt>Telephone:</dt>
  <dd><%= @manager.telephone %></dd>

</dl>
