<!--<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>-->
<h1>
<i class="far fa-file-alt"></i>
<p></p>
<p class="text-primary">Resumo das Movimentações</p> </h1>
<p></p>
<h2>Saldo da conta:<%= format_BRL @total %>

<!--<h2>Despesas</h2>
<h2> Pagas: <%= format_BRL @total_paid %></h2> <h2>à Pagar :<%=  format_BRL@total_not_paid %></h2>

<h2>saldo  <%= format_BRL @res %></h2>-->
<p></p>
<table style="width:100%">
  <tr>
 
    <th><h2>Despesas Pagas</h2></th> 
    <th><h2>Despesas à pagar</h2></th>
  </tr>

  <tr>
   <td class="text-primary"><h2><%= format_BRL @total_paid %></h2></td></td>
   <td class="text-success"><h2><%=  format_BRL@total_not_paid  %></h2></td>
    
  </tr>