<% content_for :title do %>
  Editando Bank account
<% end %>

<div class="page-header">
  <h1>Editando Bank account</h1>
  <div>
    <%= link_to @bank_account, class: 'btn btn-info' do %>
      <%= icon 'fas', 'eye' %>
      Ver
    <% end %>
    <%= link_to bank_accounts_path, class: 'btn btn-outline-secondary' do %>
      <%= icon 'fas', 'bars' %>
      Voltar
    <% end %>
  </div>
</div>

<%= render 'form' %>
