
<%= simple_form_for @expense do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :provider %>
    <%= f.input :expense %>
    <%= f.input :value %>
    <%= f.input :due_date %>
    <%= f.input :pay_day %>
    <%= f.input :status %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, f.object.new_record? ? 'Criar Despesa' : 'Atualizar Despesa', class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>
